* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
    background-color: plum;
    padding: 30px 0;
}

h1.title {
    font-size: 36px;
}

p.title {
    font-size: 18px;
}

/* MAIN */
div.play {
    margin: 50px 0;
}

h2.play {
    font-size: 28px;
}

p.play {
    font-size: 22px;
}

div.scoreboard {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    gap: 60px;
}

div.scoreHolder {
    height: 140px;
    width: 140px;
}

div.scoreImg {
    font-size: 80px;
}

p.score {
    font-size: 20px;
}

div.gameButtons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    width: 100px;
    height: 100px;
}

.choice {
    font-size: 65px;
}