/* COLOR CODES */
/* DARK-PURPLE: #4E31AA; */
/* DARK-BLUE: #2F58CD; */
/* SUPER-DARK-BLUE: #13005A; */
/* DARK-GREY: #2D3250; */
/* MODERATE-GREY: #424769; */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

html,body{
    height: 100%;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #CCCCFF;
    height: 20%;
    gap: 15px;
}

h1.title {
    color: black;
    font-size: 42px;
}

p.title {
    color: #2F58CD;
    font-size: 18px;
}

/* MAIN */
main {
    background-color: #E3CCFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}
